h1 {
    font-family: Arial, Helvetica, sans-serif
}

.nav {
    color: whitesmoke;
    background-color: black;
    margin: 0px;
    padding: 5px;
}

.nav a {
    color: lightgray
}

.nav a:visited {
    color: lightblue;
    text-decoration: none;
}
